# macOS
.DS_Store
.AppleDouble
.LSOverride

# Finder
._*
.Spotlight-V100
.Trashes

# VS Code
.vscode/

# Eclipse / Designer
.project
.classpath
.settings/

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Java
*.class

# Build directories
target/
bin/
build/
